{% extends 'base.html' %}

{% block container %}

 <table class="table table-striped">
   <h3>Original Question: {{ original.question_text }}</h3>
   <div class="mt-3">
    <a href="{% url 'question-edit' original_pk %}"
       class="btn btn-primary btn-sm"
   role="button">Edit Question</a>
          <div class="mt-3">
    <a href="{% url 'response-edit' original_pk %}"
       class="btn btn-primary btn-sm"
   role="button">Respond to Question</a>
             <div class="mt-3">
    <a href="{% url 'response-list' original_pk %}"
       class="btn btn-primary btn-sm"
   role="button">View Responses</a>
  </div>
   <tr>
     <th>Text</th>
     <th>Modified Date</th>
   </tr>
   {% for q in q_history %}
   <tr>
       <td>{{q.question_text}}</td>
       <td>{{q.created_on}}</td>
   </tr>
   {% endfor %}
</table>

{% endblock %}